.login {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 400px;
  padding: 20px;
  margin: 50px auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  .logo_login {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  label {
    font-family: sans-serif;
    font-size: 15px;
    color: #444444;
    font-weight: 400;
    line-height: 15px;
    input {
      font-family: Segoe UI;
      font-size: 14px;
      font-weight: 400;
      line-height: 18.62px;
      text-align: left;
      color: #585454;
      width: 100%;
      margin-top: 9px;
    }
  }
  .remember {
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      background: transparent;
      font-family: sans-serif;
      color: #777777;
      font-size: 14px;
      font-weight: 400;
      line-height: 15px;
      text-align: left;
    }
    label {
      display: flex;
      align-items: center;
      gap: 10px;
      input {
        width: 18px;
        height: 18px;
        margin-top: 0;
      }
    }
  }
  .login_btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    button {
      &:first-child {
        padding: 12px 21px;
        border-radius: 5px;
        background-color: #3bb77e;
        color: #fff;
      }
      &:last-child {
        background: transparent;
        font-family: sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: center;
        color: #777777;
      }
    }
  }
}
.login input,
.login button {
  height: 38px;
  padding: 0 12px;
}
