.daily_wrapper {
  margin-top: 150px;
  .daily_sectrion {
    display: flex;
    background-color: #d8f1e5;
    border-radius: 20px;
    .daily_section-left {
      padding: 83px 78px;

      h1 {
        font-family: Quicksand;
        font-size: 40px;
        font-weight: 700;
        line-height: 48px;
        text-align: left;
        color: #253d4e;
      }
      p {
        font-family: Lato;
        font-size: 18px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        color: #7e7e7e;
        margin-top: 20px;
        margin-bottom: 46px;
        span {
          color: #3bb77e;
        }
      }
      .daily_input {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 450px;
        background-color: #fff;
        border-radius: 50px;
        input {
          border: none;
          border-radius: 50px;
          padding: 22px 56px;
        }
        button {
          padding: 22px 40px;
          background-color: #3bb77e;
          color: #fff;
          border-radius: 50px;
        }
      }
    }
    .daily_section-right {
      margin-top: 70px;
    }
  }
}
@media (max-width: 1000px) {
  .daily_sectrion {
    flex-direction: column;
  }
}
@media (max-width: 600px) {
  .daily_wrapper {
    .daily_sectrion {
      .daily_section-left {
        h1 {
          font-size: 32px;
          text-align: center;
        }
        p {
          font-size: 18px;
          text-align: center;
        }
        .daily_input {
          width: 100%;
          background: transparent;
          justify-content: center;
          gap: 20px;
          input {
            padding: 16px 26px;
          }
          button {
            padding: 12px 24px;
          }
        }
      }
      .daily_section-right {
        width: 100%;
        display: flex;
        justify-content: center;
        img {
          width: 400px !important;
        }
      }
    }
  }
}
