.footer__wrapper {
  margin-top: 100px;
  color: black;
  .footer__section {
    border-bottom: 1px solid #bce3c9;
    display: flex;
    padding-top: 135px;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 105px;
    color: #161414;
    p {
      display: flex;
      gap: 6px;
      font-family: Lato;
      font-size: 17px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
      color: #253d4e;
      padding-bottom: 20px;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        color: black;
        transform: scale(1.05);
      }
    }
    h5 {
      font-family: Lato;
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
      text-align: left;
      color: #7e7e7e;
    }
    h3 {
      font-family: Quicksand;
      font-size: 24px;
      font-weight: 700;
      line-height: 28.8px;
      text-align: left;
      color: #253d4e;
      margin-bottom: 26px;
    }
    .footer_logo {
      img {
        margin-bottom: 25px;
        cursor: pointer;
      }
    }
    .footer_company {
      .media {
        display: flex;
        align-items: center;
        gap: 10px;
        img {
          cursor: pointer;
          transition: 0.3s;
          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }
  .footer_bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 34px;
    .fotter_bottom-one {
      p {
        font-family: Lato;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        text-align: left;
        color: #7e7e7e;
        span {
          color: #3bb77e;
        }
      }
    }
    .fotter_bottom-two {
      display: flex;
      flex-wrap: wrap;
      gap: 50px;
      .f_call {
        display: flex;
        align-items: center;
        gap: 12px;
        h1 {
          font-family: Quicksand;
          font-size: 26px;
          font-weight: 700;
          line-height: 26px;
          text-align: center;
          color: #3bb77e;
        }
        p {
          font-family: Lato;
          font-size: 12px;
          font-weight: 500;
          line-height: 12px;
          letter-spacing: 0.8999999761581421px;
          text-align: center;
          color: #7e7e7e;
        }
      }
    }
  }
}
