.footer__wrapper {
  margin-top: 100px;
  background-image: linear-gradient(
      324deg,
      transparent 0%,
      transparent 45%,
      rgba(186, 186, 186, 0.04) 45%,
      rgba(186, 186, 186, 0.04) 47%,
      transparent 47%,
      transparent 100%
    ),
    linear-gradient(
      208deg,
      transparent 0%,
      transparent 40%,
      rgba(186, 186, 186, 0.04) 40%,
      rgba(186, 186, 186, 0.04) 80%,
      transparent 80%,
      transparent 100%
    ),
    linear-gradient(
      202deg,
      transparent 0%,
      transparent 20%,
      rgba(186, 186, 186, 0.04) 20%,
      rgba(186, 186, 186, 0.04) 40%,
      transparent 40%,
      transparent 100%
    ),
    linear-gradient(
      338deg,
      transparent 0%,
      transparent 10%,
      rgba(186, 186, 186, 0.04) 10%,
      rgba(186, 186, 186, 0.04) 72%,
      transparent 72%,
      transparent 100%
    ),
    linear-gradient(90deg, rgb(0, 0, 0), rgb(0, 0, 0));
  .footer__section {
    display: flex;
    padding-top: 135px;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-bottom: 105px;
    color: #fff;
    p {
      font-family: Roboto;
      font-size: 14px;
      font-weight: 400;
      line-height: 16.41px;
      text-align: left;
      color: #ffffff8b;
      padding-bottom: 20px;
      cursor: pointer;
      transition: 0.3s;
      &:hover {
        color: #fff;
      }
    }
    h3 {
      font-family: Philosopher;
      font-size: 18px;
      font-weight: 700;
      line-height: 20.16px;
      text-align: left;
      margin-bottom: 26px;
    }
    .footer_logo {
      img {
        margin-bottom: 25px;
        cursor: pointer;
      }
    }
    .footer_company {
      .media {
        display: flex;
        align-items: center;
        gap: 10px;
        img {
          cursor: pointer;
          transition: 0.3s;
          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }
}
